In [1]:
import numpy as np
import matplotlib.pyplot as mp
import pandas as pd

In [2]:
df0 = pd.read_csv("obregon.txt",sep='\s+')

In [3]:
df0.head()

        FECHA  PRECIP  EVAP  TMAX  TMIN
0  01/02/1990     0.5   3.5  16.0   9.0
1  02/02/1990     0.0   3.6  19.0   6.0
2  03/02/1990     0.0   1.9  24.0   4.0
3  04/02/1990     0.0   2.9  26.0   5.0
4  05/02/1990     0.0   3.0  22.2   5.0

In [4]:
df0.tail()

           FECHA  PRECIP  EVAP  TMAX  TMIN
7786  26/12/2011     0.0   2.6  26.0   8.5
7787  27/12/2011     0.0   2.3  27.0   8.0
7788  28/12/2011     0.0   2.1  28.0   9.0
7789  29/12/2011     0.0   2.0  27.5   7.5
7790  30/12/2011     0.0   1.4  28.0   8.0

In [5]:
df = pd.DataFrame(df0)

In [6]:
df.dtypes

FECHA      object
PRECIP    float64
EVAP      float64
TMAX      float64
TMIN      float64
dtype: object

In [7]:
df.mean()

PRECIP     0.963766
EVAP       6.334270
TMAX      33.413926
TMIN      17.531832
dtype: float64

In [8]:
df.std()

PRECIP    5.854266
EVAP      3.080741
TMAX      6.144531
TMIN      6.633760
dtype: float64

In [9]:
df.median()

PRECIP     0.0
EVAP       6.2
TMAX      34.0
TMIN      17.0
dtype: float64

In [10]:
df.max()

FECHA     31/12/2010
PRECIP         166.8
EVAP              16
TMAX            46.5
TMIN            32.5
dtype: object

In [11]:
df.min()

FECHA     01/01/1992
PRECIP             0
EVAP             0.1
TMAX              12
TMIN               1
dtype: object

In [12]:
df.describe()

            PRECIP         EVAP         TMAX         TMIN
count  7791.000000  7791.000000  7791.000000  7791.000000
mean      0.963766     6.334270    33.413926    17.531832
std       5.854266     3.080741     6.144531     6.633760
min       0.000000     0.100000    12.000000     1.000000
25%       0.000000     3.800000    28.500000    12.000000
50%       0.000000     6.200000    34.000000    17.000000
75%       0.000000     8.700000    39.000000    24.000000
max     166.800000    16.000000    46.500000    32.500000

In [13]:
df.index

RangeIndex(start=0, stop=7791, step=1)

In [14]:
df.columns

Index(['FECHA', 'PRECIP', 'EVAP', 'TMAX', 'TMIN'], dtype='object')

In [15]:
df2 = pd.melt(df)
df2.head()

  variable       value
0    FECHA  01/02/1990
1    FECHA  02/02/1990
2    FECHA  03/02/1990
3    FECHA  04/02/1990
4    FECHA  05/02/1990

pd.mealt(data_frame) junta las columnas como filas

In [16]:
df2 = df
df2.sort_values("PRECIP",ascending = False)

           FECHA  PRECIP  EVAP  TMAX  TMIN
6259  05/09/2007   166.8   6.0  28.0  23.0
467   09/09/1991   107.0   0.8  35.0  24.0
5175  04/09/2004   105.0   4.6  26.0  23.0
2236  31/07/1996    98.5   1.1  37.0  29.0
3759  08/10/2000    96.5   7.2  37.5  25.0
1540  02/09/1994    93.5   4.0  38.0  24.0
6917  28/06/2009    85.0  10.1  36.0  26.0
1917  14/09/1995    80.5   5.4  30.5  22.0
6982  03/09/2009    74.0   9.6  30.0  25.0
5506  08/08/2005    73.0   7.6  37.0  26.0
7632  21/07/2011    70.0   6.5  41.0  26.0
1634  05/12/1994    70.0   0.2  20.5  14.5
4111  29/09/2001    68.2   5.8  33.0  23.0
453   26/08/1991    65.5   1.3  32.0  24.0
839   17/09/1992    65.0   7.0  38.5  25.5
5188  18/09/2004    63.5   3.6  34.0  24.0
2610  14/08/1997    61.5   9.2  38.5  26.5
5168  28/08/2004    60.0   8.3  42.0  28.0
793   02/08/1992    60.0   5.0  38.0  25.0
4407  24/07/2002    58.0   5.4  39.0  24.0
2967  07/08/1998    56.5   5.8  37.5  21.0
7649  08/08/2011    56.0   3.6  41.0  26.0
2622  26/08/1997    53.5   7.0  40.0  25.0
558   10/12/1991    53.5   1.1  26.0  15.0
5943  23/10/2006    51.5   5.0  35.0  18.0
2650  23/09/1997    49.0   9.0  30.0  26.5
6611  24/08/2008    48.0   4.3  35.0  24.0
6627  10/09/2008    47.0   5.8  27.0  24.0
7744  13/11/2011    46.0   2.0  23.0  17.0
4047  26/07/2001    44.5   3.9  37.5  24.0
...          ...     ...   ...   ...   ...
2720  02/12/1997     0.0   1.1  27.0   9.5
2750  02/01/1998     0.0   2.6  28.0  10.5
2751  03/01/1998     0.0   1.7  21.0  13.5
2752  04/01/1998     0.0   1.5  23.0  14.0
2766  18/01/1998     0.0   2.9  31.0   8.0
2777  29/01/1998     0.0   2.2  25.0  10.0
2776  28/01/1998     0.0   1.8  29.0  12.0
2775  27/01/1998     0.0   2.2  29.0   9.0
2774  26/01/1998     0.0   3.0  30.0  10.0
2773  25/01/1998     0.0   3.1  27.1   8.0
2772  24/01/1998     0.0   2.8  27.5   9.0
2771  23/01/1998     0.0   3.7  29.0  10.0
2770  22/01/1998     0.0   2.2  25.0  11.0
2769  21/01/1998     0.0   1.0  23.0  13.0
2768  20/01/1998     0.0   1.2  26.5  11.0
2767  19/01/1998     0.0   1.9  26.0   9.0
2765  17/01/1998     0.0   4.0  31.0   9.0
2753  05/01/1998     0.0   2.0  23.0  11.0
2764  16/01/1998     0.0   2.5  26.0   9.0
2763  15/01/1998     0.0   1.9  26.5  10.0
2762  14/01/1998     0.0   2.4  24.0  10.0
2761  13/01/1998     0.0   2.1  24.0   8.0
2760  12/01/1998     0.0   1.4  25.0   8.0
2759  11/01/1998     0.0   2.1  25.0   8.5
2758  10/01/1998     0.0   1.8  20.5   7.0
2757  09/01/1998     0.0   2.1  23.0   6.0
2756  08/01/1998     0.0   4.0  22.0   7.0
2755  07/01/1998     0.0   2.4  23.0   9.0
2754  06/01/1998     0.0   1.6  21.5  11.0
7790  30/12/2011     0.0   1.4  28.0   8.0

[7791 rows x 5 columns]

La funcion data_frame.sort_values(col,arg) ordena los datos de la columna col; si no se agrega ningun argumento, el orden es ascendente.

In [17]:
df['FECHA'] = pd.to_datetime(df.FECHA)

In [18]:
df.plot("FECHA","PRECIP")

In [19]:
df.dtypes

FECHA     datetime64[ns]
PRECIP           float64
EVAP             float64
TMAX             float64
TMIN             float64
dtype: object

In [20]:
df.describe()

            PRECIP         EVAP         TMAX         TMIN
count  7791.000000  7791.000000  7791.000000  7791.000000
mean      0.963766     6.334270    33.413926    17.531832
std       5.854266     3.080741     6.144531     6.633760
min       0.000000     0.100000    12.000000     1.000000
25%       0.000000     3.800000    28.500000    12.000000
50%       0.000000     6.200000    34.000000    17.000000
75%       0.000000     8.700000    39.000000    24.000000
max     166.800000    16.000000    46.500000    32.500000

In [21]:
df.groupby(df['FECHA'].dt.strftime('%B'))['PRECIP'].mean().sort_values()

FECHA
June         0.393157
December     0.411810
January      0.457256
March        0.554882
November     0.562637
April        0.576316
May          0.670846
October      0.703374
February     0.738235
September    1.923795
August       2.229911
July         2.268429
Name: PRECIP, dtype: float64

Utilizando esa linea de código podemos determiran cual es la media de las precipitaciones agrupadas por mes, por lo que podemos ver cual es el mes más lluvioso y menos lluvioso en promedio.

In [22]:
print("Promedio de la temperatura minima por mes")
print(df.groupby(df['FECHA'].dt.strftime('%B'))['TMIN'].mean().sort_values() )
print("")
print("Promedio de la temperatura maxima por mes")
print(df.groupby(df['FECHA'].dt.strftime('%B'))['TMAX'].mean().sort_values() )

Promedio de la temperatura minima por mes
FECHA
December     12.556748
January      12.896688
February     13.623856
March        14.432692
November     14.751962
April        16.053406
October      18.289110
May          18.570997
September    21.655521
June         22.004977
August       22.453125
July         22.635196
Name: TMIN, dtype: float64

Promedio de la temperatura maxima por mes
FECHA
December     28.272393
January      28.889748
February     29.914216
November     30.912088
March        31.241124
April        33.720588
October      34.484663
May          35.652115
September    36.566096
August       36.877976
July         36.959970
June         37.060653
Name: TMAX, dtype: float64

**Diciembre** fue el mes más frio en promedio.

**Junio** fue el mes más caliente en promedio.

In [23]:
df.groupby(df['FECHA'].dt.strftime('%Y'))['PRECIP'].mean().sort_values()

FECHA
1998    0.512603
2006    0.571901
2001    0.673130
1999    0.692877
2010    0.717452
1993    0.734375
2003    0.778846
2000    0.796419
1995    0.799176
2009    0.938066
2002    0.957692
2011    0.969444
1996    1.008864
2007    1.035813
1990    1.087449
2008    1.131868
2005    1.136415
1994    1.259615
1997    1.276860
1991    1.313814
2004    1.375069
1992    1.497534
Name: PRECIP, dtype: float64

Podemos ver que **1992** fue el año más humedo reportando un promedio de 1.49mm de precipitación.

Mientras que **1998** fue el año más seco con un nivel de precipitación promedio de 0.51mm

In [24]:
df['MES'] = df['FECHA'].dt.month

In [25]:
df['AÑO'] = df['FECHA'].dt.year

In [82]:
Invi = []
j = 0
for i in range(0,7790):
    if (df["MES"][i] == 12 or df["MES"][i] == 1 or df["MES"][i] == 2 or df["MES"][i] == 3):
        Invi.append(i)

In [93]:
inv = []
for i in Invi:
    inv.append(df["AÑO"][i],df["TMAX"][i])

TypeError: append() takes exactly one argument (2 given)

In [85]:
inv

[1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1991,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1992,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1993,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1994,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1995,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1996,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1997,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 1998,
 ...]