In [1]:
import numpy as np
import pandas as pd

In [2]:
df0 = pd.read_csv("obregon.txt",sep='\s+')

In [3]:
df0.head()

        FECHA  PRECIP  EVAP  TMAX  TMIN
0  01/02/1990     0.5   3.5  16.0   9.0
1  02/02/1990     0.0   3.6  19.0   6.0
2  03/02/1990     0.0   1.9  24.0   4.0
3  04/02/1990     0.0   2.9  26.0   5.0
4  05/02/1990     0.0   3.0  22.2   5.0

In [4]:
df0.tail()

           FECHA  PRECIP  EVAP  TMAX  TMIN
7786  26/12/2011     0.0   2.6  26.0   8.5
7787  27/12/2011     0.0   2.3  27.0   8.0
7788  28/12/2011     0.0   2.1  28.0   9.0
7789  29/12/2011     0.0   2.0  27.5   7.5
7790  30/12/2011     0.0   1.4  28.0   8.0

In [5]:
df = pd.DataFrame(df0)

In [6]:
df.dtypes

FECHA      object
PRECIP    float64
EVAP      float64
TMAX      float64
TMIN      float64
dtype: object

In [7]:
df.mean()

PRECIP     0.963766
EVAP       6.334270
TMAX      33.413926
TMIN      17.531832
dtype: float64

In [8]:
df.std()

PRECIP    5.854266
EVAP      3.080741
TMAX      6.144531
TMIN      6.633760
dtype: float64

In [9]:
df.median()

PRECIP     0.0
EVAP       6.2
TMAX      34.0
TMIN      17.0
dtype: float64

In [10]:
df.max()

FECHA     31/12/2010
PRECIP         166.8
EVAP              16
TMAX            46.5
TMIN            32.5
dtype: object

In [11]:
df.min()

FECHA     01/01/1992
PRECIP             0
EVAP             0.1
TMAX              12
TMIN               1
dtype: object

In [15]:
df.describe()

            PRECIP         EVAP         TMAX         TMIN
count  7791.000000  7791.000000  7791.000000  7791.000000
mean      0.963766     6.334270    33.413926    17.531832
std       5.854266     3.080741     6.144531     6.633760
min       0.000000     0.100000    12.000000     1.000000
25%       0.000000     3.800000    28.500000    12.000000
50%       0.000000     6.200000    34.000000    17.000000
75%       0.000000     8.700000    39.000000    24.000000
max     166.800000    16.000000    46.500000    32.500000

In [23]:
df.index

RangeIndex(start=0, stop=7791, step=1)

In [33]:
df.columns

Index(['FECHA', 'PRECIP', 'EVAP', 'TMAX', 'TMIN'], dtype='object')

In [37]:
df2 = pd.melt(df)
df2.head()

  variable       value
0    FECHA  01/02/1990
1    FECHA  02/02/1990
2    FECHA  03/02/1990
3    FECHA  04/02/1990
4    FECHA  05/02/1990

pd.mealt(data_frame) junta las columnas como filas

In [38]:
df2 = df
df2.sort_values("PRECIP",ACCENDING = FALSE)

NameError: name 'FALSE' is not defined