In [1]:
import seaborn as sb
import pandas as pd
import re

In [2]:
df = pd.read_csv("meteo-nogal-09.csv",engine = "python")

In [3]:
df.dtypes

DATE            object
TIME            object
Unnamed: 2     float64
Unnamed: 3     float64
u_Avg           object
v_Avg           object
w_Avg           object
t_Avg           object
kh20_Avg        object
net_rad_Avg     object
shf1_Avg        object
shf2_Avg        object
vv_Avg          object
airT_Avg        object
rh_Avg         float64
e_sat_Avg       object
e_Avg           object
h2o_hmp_Avg     object
Unnamed: 18    float64
Unnamed: 19     object
Unnamed: 20     object
Unnamed: 21    float64
Unnamed: 22     object
Unnamed: 23     object
Unnamed: 24     object
Unnamed: 25     object
Unnamed: 26     object
Unnamed: 27     object
Unnamed: 28     object
Unnamed: 29     object
Unnamed: 30     object
Unnamed: 31     object
Unnamed: 32     object
Unnamed: 33     object
Unnamed: 34     object
Unnamed: 35     object
dtype: object

In [4]:
Unnames = []
for i in range(0,len(df.columns)):
    if(re.search("^Unnamed",df.columns[i]) != None):
        Unnames.append(df.columns[i])
Unnames

['Unnamed: 2',
 'Unnamed: 3',
 'Unnamed: 18',
 'Unnamed: 19',
 'Unnamed: 20',
 'Unnamed: 21',
 'Unnamed: 22',
 'Unnamed: 23',
 'Unnamed: 24',
 'Unnamed: 25',
 'Unnamed: 26',
 'Unnamed: 27',
 'Unnamed: 28',
 'Unnamed: 29',
 'Unnamed: 30',
 'Unnamed: 31',
 'Unnamed: 32',
 'Unnamed: 33',
 'Unnamed: 34',
 'Unnamed: 35']

In [20]:
df2 = df.drop(Unnames,1)
df2 = df2.drop(0,0)
df2.head()

,DATE,TIME,u_Avg,v_Avg,w_Avg,t_Avg,kh20_Avg,net_rad_Avg,shf1_Avg,shf2_Avg,vv_Avg,airT_Avg,rh_Avg,e_sat_Avg,e_Avg,h2o_hmp_Avg
1,01-01-09,00:10,1.215,0.506,-0.044,10.95,1.159,-176.5,23.58,-26.72,1.327,9.4,0.899,1.178,1.059,8.12
2,01-01-09,00:20,0.892,0.588,-0.072,10.81,1.159,-176.6,23.73,-26.76,1.079,9.24,0.896,1.166,1.045,8.02
3,01-01-09,00:30,1.227,0.6850001,-0.06900001,10.34,1.224,-175.5,23.61,-26.46,1.421,9.059999,0.896,1.152,1.032,7.926001
4,01-01-09,00:40,1.135,0.7410001,-0.093,9.8,1.258,-182.7,23.41,-26.46,1.384,9.059999,0.874,1.152,1.008,7.737
5,01-01-09,00:50,0.7550001,1.064,-0.149,8.87,1.332,-184.8,23.22,-26.39,1.359,8.63,0.859,1.119,0.961,7.39

In [13]:
df2["DATE"] = pd.to_datetime(df2["DATE"])

In [18]:
df2 = df2[df2["DATE"] < "2010-01-01"]

In [19]:
df2.tail()

,DATE,TIME,u_Avg,v_Avg,w_Avg,t_Avg,kh20_Avg,net_rad_Avg,shf1_Avg,shf2_Avg,vv_Avg,airT_Avg,rh_Avg,e_sat_Avg,e_Avg,h2o_hmp_Avg
52333,2009-12-31,23:10:00,0.736,-0.135,12.49,1050,-76.38,NAN,NAN,2.595,12.82,0.482,1.480,0.713,5.405,NaN
52334,2009-12-31,23:20:00,0.711,-0.106,12.24,1047,-75.03,NAN,NAN,2.517,12.62,0.489,1.460,0.714,5.416,NaN
52335,2009-12-31,23:30:00,0.746,-0.116,11.9,1043,-74.88,NAN,NAN,2.38,12.3,0.5,1.430,0.715,5.428,NaN
52336,2009-12-31,23:40:00,0.641,-0.084,11.53,1054,-71.33,NAN,NAN,2.182,11.88,0.509,1.391,0.708,5.383,NaN
52337,2009-12-31,23:50:00,0.538,-0.075,11.31,1064,-69.4,NAN,NAN,2.102,11.54,0.516,1.360,0.701,5.338,NaN