In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

In [8]:
meteo = pd.read_csv("meteo-nogal-09.csv",engine = "python")

Unnames = []
for i in range(0,len(meteo.columns)):
    if(re.search("^Unnamed",meteo.columns[i]) != None):
        Unnames.append(meteo.columns[i])
Unnames

meteo = meteo.drop(Unnames,1)
meteo = meteo.drop(0,0)
meteo["DATE"] = pd.to_datetime(meteo["DATE"])
meteo = meteo[meteo["DATE"] < "2010-01-01"]
tempD = meteo["DATE"]
tempT = meteo["TIME"]
meteo[meteo.columns] = meteo[meteo.columns].apply(pd.to_numeric, errors='coerce')
meteo["DATE"] = tempD
meteo["TIME"] = tempT
meteo["DIA"] = meteo["DATE"].dt.day

In [9]:
meteo.head()

,DATE,TIME,u_Avg,v_Avg,w_Avg,t_Avg,kh20_Avg,net_rad_Avg,shf1_Avg,shf2_Avg,vv_Avg,airT_Avg,rh_Avg,e_sat_Avg,e_Avg,h2o_hmp_Avg,DIA
1,2009-01-01,00:10,1.215,0.506,-0.044,10.95,1.159,-176.5,23.58,-26.72,1.327,9.400000,0.899,1.178,1.059,8.120000,1
2,2009-01-01,00:20,0.892,0.588,-0.072,10.81,1.159,-176.6,23.73,-26.76,1.079,9.240000,0.896,1.166,1.045,8.020000,1
3,2009-01-01,00:30,1.227,0.685,-0.069,10.34,1.224,-175.5,23.61,-26.46,1.421,9.059999,0.896,1.152,1.032,7.926001,1
4,2009-01-01,00:40,1.135,0.741,-0.093,9.80,1.258,-182.7,23.41,-26.46,1.384,9.059999,0.874,1.152,1.008,7.737000,1
5,2009-01-01,00:50,0.755,1.064,-0.149,8.87,1.332,-184.8,23.22,-26.39,1.359,8.630000,0.859,1.119,0.961,7.390000,1

In [3]:
soil = pd.read_csv("soil-nogal-09.csv",engine = ("python"))

In [37]:
soil.head(50)

,id,2 Year_RTM L,3 Day_RTM L,4 Hour_Minute_RTM L,5 T108v_1_AVG L,6 T108v_2_AVG L,7 T108v_3_AVG L,8 T108v_4_AVG L,9 T108v_5_AVG L,10 T108v_6_AVG L,...,THETA_20cm.1,THETA_30cm.1,THETA_40cm.1,THETA_55cm.1,THETA_70cm.1,THETA_85cm.1,THETA_100cm.1,62 batt L.1,63 lluvia_TOT L,Rs (splite).1
0,147,2009,1,30,0.959,0.972,0.992,1.004,1.027,1.063,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,147,2009,1,100,0.958,0.972,0.993,1.004,1.027,1.063,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,147,2009,1,130,0.956,0.972,0.993,1.004,1.027,1.063,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,147,2009,1,200,0.955,0.972,0.993,1.005,1.027,1.063,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,147,2009,1,230,0.953,0.972,0.994,1.005,1.027,1.063,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,147,2009,1,300,0.951,0.971,0.994,1.005,1.028,1.063,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,147,2009,1,330,0.949,0.970,0.994,1.005,1.028,1.063,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,147,2009,1,400,0.948,0.970,0.994,1.006,1.028,1.063,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,147,2009,1,430,0.946,0.969,0.994,1.006,1.028,1.063,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,147,2009,1,500,0.944,0.969,0.995,1.006,1.028,1.063,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,147,2009,1,530,0.943,0.968,0.995,1.006,1.028,1.064,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,147,2009,1,600,0.941,0.967,0.995,1.006,1.028,1.063,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,147,2009,1,630,0.940,0.966,0.995,1.006,1.028,1.063,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,147,2009,1,700,0.938,0.965,0.995,1.006,1.029,1.063,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,147,2009,1,730,0.936,0.964,0.995,1.006,1.029,1.063,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,147,2009,1,800,0.935,0.964,0.994,1.006,1.029,1.063,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,147,2009,1,830,0.933,0.963,0.994,1.006,1.029,1.063,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,147,2009,1,900,0.932,0.962,0.994,1.006,1.029,1.063,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,147,2009,1,930,0.930,0.961,0.994,1.006,1.029,1.063,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,147,2009,1,1000,0.929,0.960,0.994,1.006,1.029,1.064,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,147,2009,1,1030,0.928,0.959,0.994,1.006,1.029,1.064,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,147,2009,1,1100,0.928,0.958,0.993,1.006,1.029,1.064,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,147,2009,1,1130,0.928,0.957,0.993,1.006,1.029,1.064,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,147,2009,1,1200,0.928,0.957,0.993,1.006,1.029,1.064,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,147,2009,1,1230,0.929,0.956,0.992,1.006,1.029,1.064,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,147,2009,1,1300,0.931,0.956,0.992,1.006,1.029,1.064,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,147,2009,1,1330,0.934,0.956,0.992,1.006,1.029,1.064,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,147,2009,1,1400,0.937,0.956,0.992,1.005,1.029,1.064,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,147,2009,1,1430,0.940,0.957,0.991,1.005,1.029,1.064,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,147,2009,1,1500,0.944,0.957,0.991,1.005,1.029,1.064,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,147,2009,1,1530,0.947,0.958,0.991,1.005,1.029,1.064,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,147,2009,1,1600,0.951,0.959,0.991,1.005,1.029,1.064,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,147,2009,1,1630,0.955,0.961,0.991,1.004,1.028,1.064,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,147,2009,1,1700,0.959,0.962,0.991,1.004,1.028,1.064,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,147,2009,1,1730,0.963,0.964,0.991,1.004,1.028,1.064,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,147,2009,1,1800,0.966,0.966,0.991,1.004,1.028,1.064,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,147,2009,1,1830,0.969,0.967,0.991,1.004,1.028,1.064,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,147,2009,1,1900,0.972,0.969,0.992,1.004,1.029,1.064,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,147,2009,1,1930,0.973,0.971,0.992,1.005,1.028,1.064,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,147,2009,1,2000,0.974,0.973,0.993,1.005,1.028,1.064,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,147,2009,1,2030,0.975,0.974,0.993,1.005,1.028,1.064,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,147,2009,1,2100,0.975,0.975,0.993,1.005,1.028,1.064,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,147,2009,1,2130,0.975,0.976,0.994,1.006,1.028,1.064,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,147,2009,1,2200,0.975,0.978,0.995,1.006,1.029,1.064,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,147,2009,1,2230,0.974,0.978,0.995,1.006,1.029,1.064,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,147,2009,1,2300,0.973,0.979,0.996,1.007,1.029,1.064,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,147,2009,1,2330,0.972,0.980,0.996,1.007,1.029,1.064,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,147,2009,1,2400,0.971,0.980,0.997,1.007,1.029,1.064,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,147,2009,2,30,0.970,0.980,0.997,1.008,1.029,1.064,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,147,2009,2,100,0.969,0.980,0.998,1.008,1.029,1.063,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
soil.columns

Index(['id', '2 Year_RTM  L', '3 Day_RTM  L', '4 Hour_Minute_RTM  L',
       '5 T108v_1_AVG  L', '6 T108v_2_AVG  L', '7 T108v_3_AVG  L',
       '8 T108v_4_AVG  L', '9 T108v_5_AVG  L', '10 T108v_6_AVG  L',
       ...
       'THETA_20cm.1', 'THETA_30cm.1', 'THETA_40cm.1', 'THETA_55cm.1',
       'THETA_70cm.1', 'THETA_85cm.1', 'THETA_100cm.1', '62 batt  L.1',
       '63 lluvia_TOT  L', 'Rs (splite).1'],
      dtype='object', length=128)

In [4]:
soil = pd.DataFrame({"AÑO" : soil["2 Year_RTM  L"],
                     "DIA" : soil["3 Day_RTM  L"],
                     "HORA" : soil["4 Hour_Minute_RTM  L"],
                     "Tsuelo_10cm" : soil["Tsuelo_10cm"],
                     "Tsuelo_20cm" : soil["Tsuelo_20cm"],
                     "Tsuelo_40cm" : soil["Tsuelo_40cm"],
                     "Tsuelo_85cm" : soil["Tsuelo_85cm"]})

In [50]:
soil.head(10)

    AÑO  DIA  HORA  Tsuelo_10cm  Tsuelo_20cm  Tsuelo_40cm  Tsuelo_85cm
0  2009    1    30        14.36        14.70        15.52        17.75
1  2009    1   100        14.33        14.70        15.52        17.75
2  2009    1   130        14.28        14.69        15.54        17.74
3  2009    1   200        14.24        14.69        15.55        17.74
4  2009    1   230        14.19        14.69        15.55        17.73
5  2009    1   300        14.15        14.67        15.55        17.73
6  2009    1   330        14.10        14.66        15.56        17.73
7  2009    1   400        14.05        14.64        15.58        17.73
8  2009    1   430        14.01        14.62        15.59        17.73
9  2009    1   500        13.97        14.61        15.59        17.74

In [46]:
soil.tail()

        AÑO  DIA  HORA  Tsuelo_10cm  Tsuelo_20cm  Tsuelo_40cm  Tsuelo_85cm
17477  2009  365  2200        13.96        14.13        15.23        17.27
17478  2009  365  2230        13.96        14.15        15.23        17.27
17479  2009  365  2300        13.96        14.16        15.24        17.27
17480  2009  365  2330        13.95        14.16        15.24        17.26
17481  2009  365  2400        13.94        14.19        15.24        17.26

In [11]:
meteo.tail()

,DATE,TIME,u_Avg,v_Avg,w_Avg,t_Avg,kh20_Avg,net_rad_Avg,shf1_Avg,shf2_Avg,vv_Avg,airT_Avg,rh_Avg,e_sat_Avg,e_Avg,h2o_hmp_Avg,DIA
52333,2009-12-31,23:10:00,0.736,-0.135,12.49,1050.0,-76.38,NaN,NaN,2.595,12.82,0.482,1.480,0.713,5.405,NaN,31
52334,2009-12-31,23:20:00,0.711,-0.106,12.24,1047.0,-75.03,NaN,NaN,2.517,12.62,0.489,1.460,0.714,5.416,NaN,31
52335,2009-12-31,23:30:00,0.746,-0.116,11.90,1043.0,-74.88,NaN,NaN,2.380,12.30,0.500,1.430,0.715,5.428,NaN,31
52336,2009-12-31,23:40:00,0.641,-0.084,11.53,1054.0,-71.33,NaN,NaN,2.182,11.88,0.509,1.391,0.708,5.383,NaN,31
52337,2009-12-31,23:50:00,0.538,-0.075,11.31,1064.0,-69.40,NaN,NaN,2.102,11.54,0.516,1.360,0.701,5.338,NaN,31

In [5]:
soil["T_10cm MediaDiaria"] = soil.groupby("DIA")["Tsuelo_10cm"].transform("mean")
soil["T_20cm MediaDiaria"] = soil.groupby("DIA")["Tsuelo_20cm"].transform("mean")
soil["T_40cm MediaDiaria"] = soil.groupby("DIA")["Tsuelo_40cm"].transform("mean")
soil["T_85cm MediaDiaria"] = soil.groupby("DIA")["Tsuelo_85cm"].transform("mean")

soil.head()

,AÑO,DIA,HORA,Tsuelo_10cm,Tsuelo_20cm,Tsuelo_40cm,Tsuelo_85cm,T_10cm MediaDiaria,T_20cm MediaDiaria,T_40cm MediaDiaria,T_85cm MediaDiaria
0,2009,1,30,14.36,14.70,15.52,17.75,14.127292,14.549792,15.565,17.714583
1,2009,1,100,14.33,14.70,15.52,17.75,14.127292,14.549792,15.565,17.714583
2,2009,1,130,14.28,14.69,15.54,17.74,14.127292,14.549792,15.565,17.714583
3,2009,1,200,14.24,14.69,15.55,17.74,14.127292,14.549792,15.565,17.714583
4,2009,1,230,14.19,14.69,15.55,17.73,14.127292,14.549792,15.565,17.714583

In [6]:
soil2 = soil.drop_duplicates("DIA").reset_index(drop=True)

In [7]:
soil2.head()

,AÑO,DIA,HORA,Tsuelo_10cm,Tsuelo_20cm,Tsuelo_40cm,Tsuelo_85cm,T_10cm MediaDiaria,T_20cm MediaDiaria,T_40cm MediaDiaria,T_85cm MediaDiaria
0,2009,1,30,14.36,14.70,15.52,17.75,14.127292,14.549792,15.565000,17.714583
1,2009,2,30,14.65,14.90,15.62,17.69,14.629375,14.892500,15.728333,17.668750
2,2009,3,30,15.23,15.35,15.86,17.67,14.907917,15.204583,15.935208,17.660000
3,2009,4,30,15.43,15.61,16.03,17.67,15.047708,15.390833,16.087500,17.676458
4,2009,5,30,15.38,15.61,16.15,17.69,15.146667,15.481667,16.207708,17.698750

In [12]:
meteo["Tair_AvgDiaria"] = meteo.groupby("DIA")["airT_Avg"].transform("mean")
meteo.head()