In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

In [3]:
meteo = pd.read_csv("meteo-nogal-09.csv",engine = "python")

Unnames = []
for i in range(0,len(meteo.columns)):
    if(re.search("^Unnamed",meteo.columns[i]) != None):
        Unnames.append(meteo.columns[i])
Unnames

meteo = meteo.drop(Unnames,1)
meteo = meteo.drop(0,0)
meteo["DATE"] = pd.to_datetime(meteo["DATE"])
meteo = meteo[meteo["DATE"] < "2010-01-01"]
tempD = meteo["DATE"]
tempT = meteo["TIME"]
meteo[meteo.columns] = meteo[meteo.columns].apply(pd.to_numeric, errors='coerce')
meteo["DATE"] = tempD
meteo["TIME"] = tempT
meteo["AÑO"] = meteo["DATE"].dt.year
meteo["MES"] = meteo["DATE"].dt.month
meteo["DIA"] = meteo["DATE"].dt.day

In [4]:
meteo.head()

,DATE,TIME,u_Avg,v_Avg,w_Avg,t_Avg,kh20_Avg,net_rad_Avg,shf1_Avg,shf2_Avg,vv_Avg,airT_Avg,rh_Avg,e_sat_Avg,e_Avg,h2o_hmp_Avg,AÑO,MES,DIA
1,2009-01-01,00:10,1.215,0.506,-0.044,10.95,1.159,-176.5,23.58,-26.72,1.327,9.400000,0.899,1.178,1.059,8.120000,2009,1,1
2,2009-01-01,00:20,0.892,0.588,-0.072,10.81,1.159,-176.6,23.73,-26.76,1.079,9.240000,0.896,1.166,1.045,8.020000,2009,1,1
3,2009-01-01,00:30,1.227,0.685,-0.069,10.34,1.224,-175.5,23.61,-26.46,1.421,9.059999,0.896,1.152,1.032,7.926001,2009,1,1
4,2009-01-01,00:40,1.135,0.741,-0.093,9.80,1.258,-182.7,23.41,-26.46,1.384,9.059999,0.874,1.152,1.008,7.737000,2009,1,1
5,2009-01-01,00:50,0.755,1.064,-0.149,8.87,1.332,-184.8,23.22,-26.39,1.359,8.630000,0.859,1.119,0.961,7.390000,2009,1,1

In [5]:
soil = pd.read_csv("soil-nogal-09.csv",engine = ("python"))
soil.head()

,id,2 Year_RTM L,3 Day_RTM L,4 Hour_Minute_RTM L,5 T108v_1_AVG L,6 T108v_2_AVG L,7 T108v_3_AVG L,8 T108v_4_AVG L,9 T108v_5_AVG L,10 T108v_6_AVG L,...,THETA_20cm.1,THETA_30cm.1,THETA_40cm.1,THETA_55cm.1,THETA_70cm.1,THETA_85cm.1,THETA_100cm.1,62 batt L.1,63 lluvia_TOT L,Rs (splite).1
0,147,2009,1,30,0.959,0.972,0.992,1.004,1.027,1.063,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,147,2009,1,100,0.958,0.972,0.993,1.004,1.027,1.063,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,147,2009,1,130,0.956,0.972,0.993,1.004,1.027,1.063,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,147,2009,1,200,0.955,0.972,0.993,1.005,1.027,1.063,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,147,2009,1,230,0.953,0.972,0.994,1.005,1.027,1.063,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
soil.columns

Index(['id', '2 Year_RTM  L', '3 Day_RTM  L', '4 Hour_Minute_RTM  L',
       '5 T108v_1_AVG  L', '6 T108v_2_AVG  L', '7 T108v_3_AVG  L',
       '8 T108v_4_AVG  L', '9 T108v_5_AVG  L', '10 T108v_6_AVG  L',
       ...
       'THETA_20cm.1', 'THETA_30cm.1', 'THETA_40cm.1', 'THETA_55cm.1',
       'THETA_70cm.1', 'THETA_85cm.1', 'THETA_100cm.1', '62 batt  L.1',
       '63 lluvia_TOT  L', 'Rs (splite).1'],
      dtype='object', length=128)

In [7]:
soil = pd.DataFrame({"AÑO" : soil["2 Year_RTM  L"],
                     "DIA" : soil["3 Day_RTM  L"],
                     "HORA" : soil["4 Hour_Minute_RTM  L"],
                     "Tsuelo_10cm" : soil["Tsuelo_10cm"],
                     "Tsuelo_20cm" : soil["Tsuelo_20cm"],
                     "Tsuelo_40cm" : soil["Tsuelo_40cm"],
                     "Tsuelo_85cm" : soil["Tsuelo_85cm"]})
soil.tail(10)

        AÑO  DIA  HORA  Tsuelo_10cm  Tsuelo_20cm  Tsuelo_40cm  Tsuelo_85cm
17472  2009  365  1930        13.88        14.01        15.21        17.27
17473  2009  365  2000        13.90        14.04        15.20        17.27
17474  2009  365  2030        13.93        14.06        15.21        17.27
17475  2009  365  2100        13.95        14.09        15.21        17.27
17476  2009  365  2130        13.96        14.11        15.22        17.27
17477  2009  365  2200        13.96        14.13        15.23        17.27
17478  2009  365  2230        13.96        14.15        15.23        17.27
17479  2009  365  2300        13.96        14.16        15.24        17.27
17480  2009  365  2330        13.95        14.16        15.24        17.26
17481  2009  365  2400        13.94        14.19        15.24        17.26

In [8]:
meteo.tail()

,DATE,TIME,u_Avg,v_Avg,w_Avg,t_Avg,kh20_Avg,net_rad_Avg,shf1_Avg,shf2_Avg,vv_Avg,airT_Avg,rh_Avg,e_sat_Avg,e_Avg,h2o_hmp_Avg,AÑO,MES,DIA
52333,2009-12-31,23:10:00,0.736,-0.135,12.49,1050.0,-76.38,NaN,NaN,2.595,12.82,0.482,1.480,0.713,5.405,NaN,2009,12,31
52334,2009-12-31,23:20:00,0.711,-0.106,12.24,1047.0,-75.03,NaN,NaN,2.517,12.62,0.489,1.460,0.714,5.416,NaN,2009,12,31
52335,2009-12-31,23:30:00,0.746,-0.116,11.90,1043.0,-74.88,NaN,NaN,2.380,12.30,0.500,1.430,0.715,5.428,NaN,2009,12,31
52336,2009-12-31,23:40:00,0.641,-0.084,11.53,1054.0,-71.33,NaN,NaN,2.182,11.88,0.509,1.391,0.708,5.383,NaN,2009,12,31
52337,2009-12-31,23:50:00,0.538,-0.075,11.31,1064.0,-69.40,NaN,NaN,2.102,11.54,0.516,1.360,0.701,5.338,NaN,2009,12,31

In [9]:
soil["T_10cm MediaDiaria"] = soil.groupby("DIA")["Tsuelo_10cm"].transform("mean")
soil["T_20cm MediaDiaria"] = soil.groupby("DIA")["Tsuelo_20cm"].transform("mean")
soil["T_40cm MediaDiaria"] = soil.groupby("DIA")["Tsuelo_40cm"].transform("mean")
soil["T_85cm MediaDiaria"] = soil.groupby("DIA")["Tsuelo_85cm"].transform("mean")

soil.head()

,AÑO,DIA,HORA,Tsuelo_10cm,Tsuelo_20cm,Tsuelo_40cm,Tsuelo_85cm,T_10cm MediaDiaria,T_20cm MediaDiaria,T_40cm MediaDiaria,T_85cm MediaDiaria
0,2009,1,30,14.36,14.70,15.52,17.75,14.127292,14.549792,15.565,17.714583
1,2009,1,100,14.33,14.70,15.52,17.75,14.127292,14.549792,15.565,17.714583
2,2009,1,130,14.28,14.69,15.54,17.74,14.127292,14.549792,15.565,17.714583
3,2009,1,200,14.24,14.69,15.55,17.74,14.127292,14.549792,15.565,17.714583
4,2009,1,230,14.19,14.69,15.55,17.73,14.127292,14.549792,15.565,17.714583

In [10]:
soil2 = soil.drop_duplicates("DIA").reset_index(drop=True)
soil2.head()

,AÑO,DIA,HORA,Tsuelo_10cm,Tsuelo_20cm,Tsuelo_40cm,Tsuelo_85cm,T_10cm MediaDiaria,T_20cm MediaDiaria,T_40cm MediaDiaria,T_85cm MediaDiaria
0,2009,1,30,14.36,14.70,15.52,17.75,14.127292,14.549792,15.565000,17.714583
1,2009,2,30,14.65,14.90,15.62,17.69,14.629375,14.892500,15.728333,17.668750
2,2009,3,30,15.23,15.35,15.86,17.67,14.907917,15.204583,15.935208,17.660000
3,2009,4,30,15.43,15.61,16.03,17.67,15.047708,15.390833,16.087500,17.676458
4,2009,5,30,15.38,15.61,16.15,17.69,15.146667,15.481667,16.207708,17.698750

In [11]:
meteo["Tair_AvgDiaria"] = meteo.groupby(["DIA","MES","AÑO"])["airT_Avg"].transform("mean")
meteo.head()

,DATE,TIME,u_Avg,v_Avg,w_Avg,t_Avg,kh20_Avg,net_rad_Avg,shf1_Avg,shf2_Avg,vv_Avg,airT_Avg,rh_Avg,e_sat_Avg,e_Avg,h2o_hmp_Avg,AÑO,MES,DIA,Tair_AvgDiaria
1,2009-01-01,00:10,1.215,0.506,-0.044,10.95,1.159,-176.5,23.58,-26.72,1.327,9.400000,0.899,1.178,1.059,8.120000,2009,1,1,14.942629
2,2009-01-01,00:20,0.892,0.588,-0.072,10.81,1.159,-176.6,23.73,-26.76,1.079,9.240000,0.896,1.166,1.045,8.020000,2009,1,1,14.942629
3,2009-01-01,00:30,1.227,0.685,-0.069,10.34,1.224,-175.5,23.61,-26.46,1.421,9.059999,0.896,1.152,1.032,7.926001,2009,1,1,14.942629
4,2009-01-01,00:40,1.135,0.741,-0.093,9.80,1.258,-182.7,23.41,-26.46,1.384,9.059999,0.874,1.152,1.008,7.737000,2009,1,1,14.942629
5,2009-01-01,00:50,0.755,1.064,-0.149,8.87,1.332,-184.8,23.22,-26.39,1.359,8.630000,0.859,1.119,0.961,7.390000,2009,1,1,14.942629

In [12]:
meteo2 = meteo.drop_duplicates(["MES",'DIA',"AÑO"]).reset_index(drop=True)
meteo2.head()

,DATE,TIME,u_Avg,v_Avg,w_Avg,t_Avg,kh20_Avg,net_rad_Avg,shf1_Avg,shf2_Avg,vv_Avg,airT_Avg,rh_Avg,e_sat_Avg,e_Avg,h2o_hmp_Avg,AÑO,MES,DIA,Tair_AvgDiaria
0,2009-01-01,00:10,1.215,0.506,-0.044,10.95,1.159,-176.5,23.58,-26.720,1.327,9.40,0.899,1.178,1.059,8.12,2009,1,1,14.942629
1,2009-02-01,00:00,0.630,-0.311,-0.024,13.36,5.537,-169.2,17.24,22.400,0.856,12.02,0.750,1.404,1.053,8.00,2009,2,1,15.753194
2,2009-03-01,00:00,1.607,-0.308,0.019,11.24,1.330,-194.7,22.59,20.990,1.671,10.53,0.822,1.271,1.045,7.98,2009,3,1,14.623035
3,2009-04-01,00:00,1.058,-0.685,0.006,12.18,25.900,-158.3,22.70,17.460,1.269,10.84,0.952,1.298,1.235,9.42,2009,4,1,14.204236
4,2009-05-01,00:00,-1.705,0.223,-0.062,12.95,40.370,-131.6,8.80,7.609,1.800,12.90,0.723,1.487,1.075,8.14,2009,5,1,13.520007