In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
df = pd.read_csv("obregon.txt",sep = "\s+")
df["FECHA"] = pd.to_datetime(df.FECHA)
df["MES"] = df["FECHA"].dt.month
df["AÑO"] = df["FECHA"].dt.year

In [30]:
""" Esta seccion puede ejecutarse para cualquier dataframe que este ordenado por año,
    el año menor en el primer dato y el año mayor en el ultimo dato
"""
#Obtiene el numero de dias con heladas por año
heladas = []
años = []
ndias = 0
for i in range(df["AÑO"][0],df["AÑO"][len(df)-1]+1):
    for j in range(0,len(df)):
        if(df["AÑO"][j] == i and df["TMIN"][j] < 0):
            ndias = ndias+1
    heladas.append(ndias)
    años.append(i)
    ndias = 0

#Se guerda en un dataframe para desplegarlo de forma amigable para el usuairo
helas = pd.DataFrame({
    "AÑO" : años,
    "Dias bajo 0°C" : heladas},
    index = range(0,len(heladas)))
helas

     AÑO  Dias bajo 0°C
0   1990              0
1   1991              0
2   1992              0
3   1993              0
4   1994              0
5   1995              0
6   1996              0
7   1997              0
8   1998              0
9   1999              0
10  2000              0
11  2001              0
12  2002              0
13  2003              0
14  2004              0
15  2005              0
16  2006              0
17  2007              0
18  2008              0
19  2009              0
20  2010              0
21  2011              0

In [31]:
#Obtiene el numero de dias con heladas por año
veranos = []
ndias = 0
for i in range(df["AÑO"][0],df["AÑO"][len(df)-1]+1):
    for j in range(0,len(df)):
        if(df["AÑO"][j] == i and df["TMIN"][j] > 25 or df["TMAX"][j] > 25):
            ndias = ndias+1
    veranos.append(ndias)
    ndias = 0

#Se guerda en un dataframe para desplegarlo de forma amigable para el usuairo
veras = pd.DataFrame({
    "AÑO" : años,
    "Dias mayores a 25°C" : veranos},
    index = range(0,len(veranos)))
veras

     AÑO  Dias mayores a 25°C
0   1990                 6847
1   1991                 6847
2   1992                 6847
3   1993                 6847
4   1994                 6847
5   1995                 6847
6   1996                 6847
7   1997                 6847
8   1998                 6847
9   1999                 6847
10  2000                 6847
11  2001                 6847
12  2002                 6847
13  2003                 6847
14  2004                 6847
15  2005                 6847
16  2006                 6847
17  2007                 6847
18  2008                 6847
19  2009                 6847
20  2010                 6847
21  2011                 6847