In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [131]:
missing = {"PRECIP" : "Nulo","EVAP" : "Nulo","TMAX" : "Nulo","TMIN" : "Nulo"}

df = pd.read_csv("obregon.txt",sep = "\s+", na_values = missing)
df["FECHA"] = pd.to_datetime(df.FECHA)
df["TMED"] = (df["TMAX"]+df["TMIN"])/2
df["MES"] = df["FECHA"].dt.month
df["AÑO"] = df["FECHA"].dt.year

df.describe()

,PRECIP,EVAP,TMAX,TMIN,TMED,MES,AÑO
count,7791.000000,7791.000000,7791.000000,7791.000000,7791.000000,7791.000000,7791.00000
mean,0.963766,6.334270,33.342819,17.506546,25.424682,6.518547,2000.65550
std,5.854266,3.080741,6.519416,6.700213,6.313132,3.433638,6.23071
min,0.000000,0.100000,-29.500000,-13.000000,-20.000000,1.000000,1990.00000
25%,0.000000,3.800000,28.500000,12.000000,20.000000,4.000000,1995.00000
50%,0.000000,6.200000,34.000000,17.000000,25.500000,7.000000,2001.00000
75%,0.000000,8.700000,39.000000,24.000000,31.000000,9.000000,2006.00000
max,166.800000,16.000000,46.500000,32.500000,38.000000,12.000000,2011.00000

In [60]:
""" Esta seccion puede ejecutarse para cualquier dataframe que este ordenado por año,
    el año menor en el primer dato y el año mayor en el ultimo dato
"""
#Obtiene el numero de dias con heladas por año
FD = []
años = []
ndias = 0
for i in range(df["AÑO"][0],df["AÑO"][len(df)-1]+1):
    for j in range(0,len(df)):
        if(df["AÑO"][j] == i and df["TMIN"][j] < 0):
            ndias = ndias+1
    FD.append(ndias)
    años.append(i)
    ndias = 0

#Se guerda en un dataframe para desplegarlo de forma amigable para el usuairo
helas = pd.DataFrame({
    "AÑO" : años,
    "Dias bajo 0°C" : FD},
    index = range(0,len(FD)))
helas

     AÑO  Dias bajo 0°C
0   1947              0
1   1948              0
2   1949              2
3   1950              1
4   1951              5
5   1952              3
6   1953             10
7   1954              2
8   1955             10
9   1956              5
10  1957              3
11  1958              4
12  1959              4
13  1960              4
14  1961              3
15  1962              7
16  1963              3
17  1964              3
18  1965              1
19  1966              5
20  1967              9
21  1968              0
22  1969             11
23  1970             22
24  1971             13
25  1972             10
26  1973             20
27  1974              6
28  1975             13
29  1976              8
..   ...            ...
41  1988              3
42  1989              0
43  1990              0
44  1991              1
45  1992              0
46  1993              5
47  1994              0
48  1995              0
49  1996              0
50  1997              5
51  1998              0
52  1999              0
53  2000              1
54  2001              0
55  2002              0
56  2003              0
57  2004              2
58  2005              0
59  2006              2
60  2007              0
61  2008              2
62  2009              0
63  2010              1
64  2011              2
65  2012              0
66  2013              0
67  2014              0
68  2015              0
69  2016              0
70  2017              3

[71 rows x 2 columns]

In [61]:
#Obtiene el numero de dias con heladas por año
SU = []
ndias = 0
for i in range(df["AÑO"][0],df["AÑO"][len(df)-1]+1):
    for j in range(0,len(df)):
        if(df["AÑO"][j] == i and df["TMAX"][j] > 25):
            ndias = ndias+1
    SU.append(ndias)
    ndias = 0

#Se guerda en un dataframe para desplegarlo de forma amigable para el usuairo
veras = pd.DataFrame({
    "AÑO" : años,
    "Dias mayores a 25°C" : SU},
    index = range(0,len(SU)))
veras

     AÑO  Dias mayores a 25°C
0   1947                   41
1   1948                  257
2   1949                  266
3   1950                  272
4   1951                  242
5   1952                  230
6   1953                  211
7   1954                  234
8   1955                  209
9   1956                  228
10  1957                  253
11  1958                  152
12  1959                  185
13  1960                  220
14  1961                  172
15  1962                  217
16  1963                  205
17  1964                  206
18  1965                  215
19  1966                  200
20  1967                  138
21  1968                  186
22  1969                  223
23  1970                  253
24  1971                  249
25  1972                  242
26  1973                  215
27  1974                  219
28  1975                  226
29  1976                  141
..   ...                  ...
41  1988                  238
42  1989                  259
43  1990                  229
44  1991                  220
45  1992                  199
46  1993                  259
47  1994                  265
48  1995                  258
49  1996                  253
50  1997                  253
51  1998                  286
52  1999                  264
53  2000                  308
54  2001                  252
55  2002                  269
56  2003                  277
57  2004                  259
58  2005                  285
59  2006                  265
60  2007                  280
61  2008                  251
62  2009                  245
63  2010                  190
64  2011                  200
65  2012                  190
66  2013                  191
67  2014                  244
68  2015                  243
69  2016                  231
70  2017                  273

[71 rows x 2 columns]

In [62]:
#Obtiene el numero de dias con heladas por año
TR = []
ndias = 0
for i in range(df["AÑO"][0],df["AÑO"][len(df)-1]+1):
    for j in range(0,len(df)):
        if(df["AÑO"][j] == i and df["TMIN"][j] > 20):
            ndias = ndias+1
    TR.append(ndias)
    ndias = 0

#Se guerda en un dataframe para desplegarlo de forma amigable para el usuairo
trops = pd.DataFrame({
    "AÑO" : años,
    "Dias tropicales(TMIN>25°C)" : TR},
    index = range(0,len(TR)))
trops

     AÑO  Dias tropicales(TMIN>25°C)
0   1947                           0
1   1948                           0
2   1949                           0
3   1950                           0
4   1951                           0
5   1952                           0
6   1953                           0
7   1954                           0
8   1955                           0
9   1956                           0
10  1957                           0
11  1958                           0
12  1959                           0
13  1960                           0
14  1961                           0
15  1962                           0
16  1963                           0
17  1964                           0
18  1965                           0
19  1966                           0
20  1967                           0
21  1968                           0
22  1969                           0
23  1970                           0
24  1971                           0
25  1972                           0
26  1973                           0
27  1974                           0
28  1975                           0
29  1976                           0
..   ...                         ...
41  1988                           0
42  1989                           0
43  1990                           0
44  1991                           1
45  1992                           0
46  1993                           1
47  1994                           0
48  1995                           1
49  1996                           0
50  1997                           0
51  1998                           1
52  1999                           0
53  2000                           0
54  2001                           0
55  2002                           0
56  2003                           1
57  2004                           0
58  2005                           1
59  2006                           0
60  2007                           0
61  2008                           0
62  2009                           0
63  2010                           0
64  2011                           0
65  2012                           0
66  2013                           0
67  2014                           0
68  2015                           0
69  2016                           0
70  2017                           0

[71 rows x 2 columns]

In [64]:
#Es este gaytan; estos son para encontrar los seis primeros
todosPrimeros = []

#El argumento que esta en el range es simplemente para hacerlo generico; solamente agarra el primer año y el ultimo de tus datos
for j in range(df["AÑO"][0],df["AÑO"][len(df)-1]+1):
    for i in range(5,len(df)-1):
        if(df["AÑO"][i-5] == j):
            if(df["TMED"][i-5] > 5 and df["TMED"][i-4] > 5 and df["TMED"][i-3] > 5 and
               df["TMED"][i-2] > 5 and df["TMED"][i-1] > 5 and df["TMED"][i]   > 5):
                seisPrimeros = [i,i-1,i-2,i-3,i-4,i-5]
                break
    todosPrimeros.append(seisPrimeros)
    
#Recorre la lista un chingo de veces para encontrar los días por cada año.
#Basicamente recorre la lista en secciones de 5 y si toda esa seccion cumple con la condicion guarda los indices en un array y
#y deja de buscar para ese año (el break) luego lo mete en otro array para guardarlos y cambia al siguiente año

In [132]:
#Y este es para encontrar los seis ultimos, es lo mismo que lo anterior pero de abajo hacia arriba
todosUltimos = []
seisUltimos = []
for j in range(df["AÑO"][len(df)-1],df["AÑO"][0]-1,-1):
    for i in range(len(df)-1,5,-1):
        if(df["AÑO"][i] == j):
            if(df["TMED"][i-5] < 5 and df["TMED"][i-4] < 5 and df["TMED"][i-3] < 5 and
               df["TMED"][i-2] < 5 and df["TMED"][i-1] < 5 and df["TMED"][i]   < 5):
                seisUltimos = [i,i-1,i-2,i-3,i-4,i-5]
                break
    todosUltimos.append(seisUltimos)
    seisUltimos = []

In [134]:
#Obtiene la temperatura maxima por mes de cada año.
TXx = []
TXxanual = []
tmax = -1000
for n in range(df["AÑO"][0],df["AÑO"][len(df)-1]+1):
    for i in range(1,13):
        for j in range(0,len(df)):
            if(df["MES"][j] == i and df["AÑO"][j] == n):
                if(df["TMAX"][j]>tmax):
                    tmax = df["TMAX"][i]
        TXxanual.append(tmax)
        tmax = -1000
    TXx.append(TXxanual)
    TXxanual = []